#rimg{
    
    width: 300px;
    border-radius: 50%;
    border: 1px solid gray;
    overflow: hidden;
    }

    .root1{
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        justify-content: center;
        align-items: center;
    }
    .root2{
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        justify-content: center;
        align-items: center;
    }
    .root3{
        display: flex;
        flex-wrap: wrap;
        width: 500px;
        justify-content: center;
        align-items: center;
    }